/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #252e35;
  line-height: 1.5;
}

/* Header */
header {
  background: #262F37;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  color: white;
}

.header-left {
  float: left;
  width: 30%;
  padding: 10px;
}

.header-right {
  float: right;
  width: 70%;
  text-align: right;
}

nav a {
  font-size: 14px;
  padding: 15px;
  text-decoration: none;
  color: white;
  transition: all 0.3s;
}

nav a:hover {
  background: rgba(255, 255, 255, 0.9);
  color: black;
}

/* Main Content */
main {
  margin-top: 100px;
}

/* Sections */
section {
  padding: 50px 0;
  text-align: center;
}

#portfolio .portfolio-items a {
  display: block;
  margin: 20px auto;
  text-align: center;
  text-decoration: none;
}

.port {
  width: 50%;
  margin: 0 auto;
  display: block;
  box-shadow: 10px 10px 5px #888;
}

#interests img {
  width: 100%;
  margin: 20px 0;
}

/* Footer */
footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 25px;
}

/* Responsive Design */
@media (max-width: 767px) {
  .header-left, .header-right {
    text-align: center;
    float: none;
  }

  nav a {
    display: block;
    padding: 10px;
  }
}


